body {
	font-family: var(--ff);
	color: var(--clr-body-text);
}

h1,
h2,
h3,
h4 {
	margin-bottom: 2rem;
	font-weight: var(--fw-700);
	line-height: 1.25;
	color: var(--clr-heading);
}

section {
	margin-block: 15rem;
}
