.btn-group {
	--gap: 2.4rem;

	display: flex;
	flex-direction: column;
	gap: var(--gap);

	margin-top: 5rem;
	width: 100%;

	@media (min-width: $bp-small) {
		--gap: 1.6rem;
		flex-direction: row;
		place-content: center;
	}
}
