.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__icon {
		width: 4rem;
		aspect-ratio: 1;
		margin-bottom: var(--spacing-2);

		object-fit: contain;
	}

	&__heading {
		margin-bottom: 1.2rem;
		font-size: var(--fz-medium);
	}

	&__text {
		max-width: 45ch;

		@media (min-width: $bp-medium) {
			margin-inline: initial;
		}
	}

	&--left {
		@media (min-width: $bp-medium) {
			align-items: flex-start;
			text-align: left;
		}
	}
}
