.snippets {
	&__body {
		--gap: var(--spacing-5);

		display: grid;
		align-items: center;
		gap: var(--gap);

		padding-inline: var(--spacing-2);

		@media (min-width: $bp-medium) {
			--gap: 0;
			grid-template-columns: repeat(2, 1fr);
			padding-inline: 0;
		}
	}

	&__features {
		@media (min-width: $bp-medium) {
			padding-inline: clamp(6rem, 8.5vw, 11rem);
		}
	}

	&__image {
		@media (min-width: $bp-medium) {
			margin-left: -3.2rem;
			transform: scale(1.05);
		}
	}
}
